<script language="Javascript">
  Stripe.setPublishableKey("<%= ENV['STRIPE_TEST_PUBLISHABLE_KEY']%>");
</script>
<%= form_for @tenant, url: update_plan_path, html: { class: "#{class_name_for_tenant_form(@tenant)}" } do |f| %>
  <div class="form-group col-md-12 no-side-padding">
    <%= f.label :name, 'Organization' %>
    <span class='description'>(Unique name for your group or organization for the new account)</span>
    <%= f.text_field :name, required: true, class: "form-control" %>
  </div>
  <div class="form-group col-md-12 no-side-padding">
    <%= f.label :plan %>
    <%= f.select :plan, options_for_select(Plan.options, @tenant.plan ), {}, required: true, class: "form-control" %>
  </div>
  <% if @tenant.payment.blank? %>
    <%= render 'shared/credit_card_dialog' %>
  <% end %>
  <br />
  <div class="row col-md-12">
    <%= f.submit 'Update Plan', class: "btn btn-primary", id: 'update_plan' %>
  </div>
<% end %>